.wrap.no-margin-top
  .row.negatePadding
    .col-xs-12
      .row
        #userControls
          .row
            .col-sm-8 
              .customButton(ng-click='new = true' ng-hide='new') New Deck+
              .customButton(ng-click='new = false' ng-show='new') Cancel
              #newDeck(ng-show='new')
                form(novalidate)
                  .form-group
                    label Deck Name
                    input.form-control(type='text' name='name' ng-minlength='3' ng-model='deck.name')
                    label Category
                    select.form-control(name='category' ng-model='deck.category')
                      include ../partials/categories.jade
                    button.customButton(ng-click='createDeck()') Create
            .col-sm-2
              a.gravLink(href='https://en.gravatar.com/'): img.gravatar(alt='Create your own Gravatar!' gravatar-src-once='currentUser.email' gravatar-size="200") 
              p.currentUsername {{currentUser.username}}
              .wins Wins: {{currentUser.wins}}
              .draws Draws: {{currentUser.draws}}
            .col-sm-2
        .col-sm-4.backgroundWhite.negatePadding
          #challenges
              h3 Open Challenges 
              include ../partials/challenges.jade
  
          #history
              h3 Challenge History
              include ../partials/history.jade

        .col-sm-8.negatePadding
          #yourDecks
            .customHeaderDark(ng-hide='decks.length'): em You have no flash-cards 
            form(novalidate ng-show='decks.length')
              label Sort By Category
              select(ng-model='categoryToFilter' ng-change='filterResults()')
                include ../partials/categories.jade

            #deckContainer(isotope-container="isotope-container")
              .deck(ng-repeat='deck in decks' isotope-item="isotope-item" class='{{deck.category}}' ng-click='selectDeck(deck._id)')
                .row
                  .title {{deck.name}}
                  .col-xs-6
                    .category Category: {{deck.category}}
                    .numCards Deck Size: {{deck.cards.length + ' cards' || 'No cards yet...'}}
                  .col-xs-6
                    .deckRating: i.fa.fa-thumbs-up {{deck.rating.up}}
                    .deckRating: i.fa.fa-thumbs-down {{deck.rating.down}}
                    .deckProgress {{'Progress:' + (deck.report || 0) + '%'}}
