
.row#card-top
  .wrap
    #progress Progress: {{(progress.complete / progress.deckSize * 100) + '%' }}
    .customButton#shuffle Shuffle

.wrap(ng-hide='isComplete')
  #questionCard(ng-hide='flipped', ng-click='flipCard()')
      #question {{currentCard.question}}
    //Need to take next card out 
  #answerCard(ng-show='flipped')
      #answer {{currentCard.answer}}
      i.fa.fa-thumbs-up.fa-4x.thumbs-up(ng-click='thumbs("up")')
      i.fa.fa-thumbs-down.fa-4x.thumbs-down(ng-click='thumbs("down")') 

.wrap#done(ng-show='isComplete')
      p How'd you do?
      #correct Correct: {{progress.correct}} 
      #wrong Wrong: {{progress.wrong}}
      .customButton Retry?
