
.row#card-top
  .wrap
    #progress Progress: {{(progress.complete / progress.deckSize * 100) + '%' }}
    .customButton#shuffle(ng-click='shuffle()') Shuffle

.wrap(ng-hide='isComplete')
  .flip
    .flashCard(ng-class='{"flipped":flipped}', ng-click='flipCard()')
      //question
      .face.front
        #question {{currentCard.question}}

      //answer
      .face.back
        #answer {{currentCard.answer}}
        i.fa.fa-thumbs-up.fa-3x.thumbs-up(ng-click='thumbs("up"); flipCard()')
        i.fa.fa-thumbs-down.fa-3x.thumbs-down(ng-click='thumbs("down"); flipCard()') 

.wrap#done(ng-show='isComplete')
      p How'd you do?
      #correct Correct: {{progress.correct}} 
      #wrong Wrong: {{progress.wrong}}
      .customButton Retry?
