@NAVY: rgba(0, 12.2, 24.7, 0.8);
@AQUA: rgba(100, 219, 200, 0.7);
@WHITE: #FFFFFF;
@RED: #FF4136;
@LIGHTWHITE: rgba(255, 255, 255, 0.7);
@HOVER_COLOR: rgba(255, 255, 255, 0.5);
@BLACK_TRANS: rgba(0, 0, 0, 0.5);


.flashCard, #done {
  min-width: 300px;
  min-height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white; 
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  font-size: 2.5em;

  &:hover {
    cursor: pointer;
  }
}

#card-top {
  padding: 20px;
  background-color: @NAVY;
  border:1px solid black;
  color: white;
}

#progress {
  text-align: center;
  font-size: 2em;
}

.thumbs-up:hover{
  color: green;
}

.thumbs-down:hover {
  color: red;
}



//-------------------------------------
//CARD FLIP ANIMATION START
//-------------------------------------

.flip {
  //webkit-perspective is for defining how 3D elements are viewed. 
  -webkit-perspective: 800;
  min-width: 300px;
  min-height: 300px;
  position: relative;
  margin: 50px auto;
}

.flip .flashCard.flipped {
  -webkit-transform: rotatex(-180deg);
}

.flip .flashCard {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
} 

.flip .flashCard .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  z-index: 2;
  text-align: center;
  line-height: 200px;
}

.flip .flashCard .front {
  position: absolute;
  z-index: 1;
}

.flip .flashCard .back {
  -webkit-transform: rotatex(-180deg);
}

//quickly removes the answer to the next question cleanly
.flip .flashCard.flipped-remove #answer {
  color: white;
}

//-------------------------------------
//CARD FLIP ANIMATION END
//-------------------------------------

//-------------------------------------
//SHUFFLE MODAL CONFIRMATION START
//-------------------------------------
.shuffleConfirmation {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}


//-------------------------------------
//SHUFFLE MODAL CONFIRMATION END
//-------------------------------------