.row#homeOne
  .col-xs-12
    .wrap
      img(src='/assets/images/logo.png')
      p A no-nonense learning utility that encourages good form and gives the ability for others to challenge those with similar knowledge. 
      p Don't know it? Knipit.

.row.negateMargin#homeTwo
  .wrap
    .customerHeader Here's how it works:
    .col-sm-3
      p Register an account (ICON HERE)
    .col-sm-3
      p Create decks of card (IMAGE HERE)
    .col-sm-3
      p Browse other decks (IMAGE HERE)
    .col-sm-3
      p Flip cards, take a quiz, or challenge someone! (IMAGE HERE)

.row.negateMargin#homeThree
  .wrap
    .customerHeader Seasonal Leaderboards
    .col-xs-12
      p Blah blah blah, something about Leaderboards!
      p Blah blah blah, deck category voting!