.row#homeOne
  .col-xs-12
    .wrap
      img(src='/assets/images/logo.png')
      p A no-nonense learning utility that encourages good form and gives the ability for others to challenge those with similar knowledge. 
      p Don't know it? Knipit.

.row.negateMargin#homeTwo
  .wrap
    .customerHeader(style='font-size: 2.3em') Here's how it works:
    .col-sm-4
      p Register an account
      img.homeImage(src='/assets/images/home/reg.png')
    .col-sm-4
      p View your profile
      img.homeImage(src='/assets/images/home/profile.png')
    .col-sm-4
      p Create a decks of card 
      img.homeImage(src='/assets/images/home/create.png')
  .row.negateMargin
    .col-sm-6
      p View decks or leaderboards
      img.homeImage(src='/assets/images/home/other.png')
    .col-sm-6
      p Flip cards, take a quiz, or challenge someone!
      img.homeImage(src='/assets/images/home/cards.png')

.row.negateMargin#homeThree
  .wrap
    .customerHeader(style='font-size: 3em') How to succeed on Knipit.
    .col-sm-4.leftAlign
      p <span class='emph'>1</span> Flash cards should be simple but effective. They should be readable and understandable to anyone.
    .col-sm-4.leftAlign
      p  <span class='emph'>2</span> Flash cards should have proper form, meaning, ask good questions and give good answers. 
      | If you challenge a deck that you think should be better, down-vote it!
      | However, if it's a good one, why not give it a up-vote?
    .col-sm-4.leftAlign
      p <span class='emph'>3</span> Flash cards should be shareable. If a deck has a high rating then it will most likely get challenges.