.row#options
  #inner-wrap
    .col-sm-6
      #deck-name {{deck.name}}
      #deck-category Category: {{deck.category}}
      #deck-subcategory Sub-Category: {{deck.subCategory || 'None...'}}
    .col-sm-6
      button.btn.btn-primary.action(type='button' ng-click='flip()') Flip cards
      button.btn.btn-primary.action(type='button' ng-click='quiz()') Take a test
      button.btn.btn-primary.action(type='button') Issue a challenge

.row#deckWrapper
  //View Mode
  #selectedDeck
    form(role='form', novalidate, name='editForm')
    .row.card(ng-repeat='card in deck.cards')
      .col-sm-5.question
        .viewMode(ng-hide='editMode') {{$index + 1}}. {{card.question}}
        textarea(ng-value='card.question || ""', ng-model='deck.cards[$index].question', ng-show='editMode')
      .col-sm-6.answer 
        .viewMode(ng-hide='editMode') {{card.answer}}
        textarea(ng-value='card.answer || ""', ng-model='deck.cards[$index].answer' ng-show='editMode', ng-keydown='enterAddCard($event, $last)')
      .col-sm-1.controls
        i.fa.fa-times
        i.fa.fa-pencil-square-o
    .row.short-stuff
      .col-xs-12
        button.btn.btn-success.full#addCard(type='button' ng-show='editMode' ng-click='addCard()') Add Card 
    .row.big-stuff
        .col-xs-12
        button.btn.btn-danger.full(type='button' ng-hide='editMode' ng-click='editDeck()') Add or Remove 
        button.btn.btn-success.full(type='button' ng-show='editMode' ng-click='saveDeck()') Save

