.row#options
  .col-xs-4 Flashcards
  .col-xs-4 Test
  .col-xs-4 Challenge

//View Mode
table.table#selectedDeck(ng-hide='editMode')
  .header(ng-hide='editMode')
    h3 {{deck.name}}
    h3 {{deck.subCategory || 'Add a sub category!'}}
  tr(ng-repeat='card in deck.cards')
    td {{card.question}}
    td {{card.answer}}

//Edit Mode
form(role='form', novalidate, name='editForm' ng-show='editMode')
  input(type='text' ng-value='deck.name || ""' ng-model='deck.name')
  input(type='text' ng-value='deck.subCategory || ""' ng-model='deck.subCategory')
  table.table#editMode(ng-show='editMode')
    tr(ng-repeat='card in deck.cards')
      td: input.form-control(type='text', ng-value='card.question || ""', ng-model='deck.cards[$index].question')
      td: input.form-control(type='text', ng-value='card.answer || ""', ng-model='deck.cards[$index].answer' ng-keydown='enterAddCard($event, $last)')
    

button.btn.btn-success#addOrRemove(type='button' ng-hide='editMode' ng-click='editDeck()') Add or Remove Card(s)
button.btn.btn-success#save(type='button' ng-show='editMode' ng-click='saveDeck()') Save
button.btn.btn-success#addCard(type='button' ng-show='editMode' ng-click='addCard()') Add Card 

pre {{deck.cards}}