#timer {
  background-color: white;
  border-radius: 100%;
  border: 2px solid black;
  height: 200px;
  width: 200px;
  color: black;
  text-align: center;
  font-size: 9.5em;
  position: absolute;
  top: 0;
  left: 0;
}

.redTimer {
  color: red;
}

