include ../partials/card-top.jade

.wrap(ng-hide='isComplete')
  #quizQuestion
    #timer(ng-hide='isComplete') 
      p(ng-class='{redTimer: redZone}') {{timer}}

    .q {{cardIndex + 1}}. {{currentCard.question}}

    .choice(ng-click='answer(currentCard.choices[0])') {{currentCard.choices[0]}}
    .choice(ng-click='answer(currentCard.choices[1])') {{currentCard.choices[1]}}
    .choice(ng-click='answer(currentCard.choices[2])') {{currentCard.choices[2]}}
    .choice(ng-click='answer(currentCard.choices[3])') {{currentCard.choices[3]}}

.wrap#done(ng-show='isComplete')
      p How'd you do?
      #correct Correct: {{progress.correct}}
      #wrong Wrong: {{progress.wrong}}
      #overallScore Score: {{overallScore}}
      i.fa.fa-thumbs-up.fa-2x.thumbs-up(ng-hide='isOwner' ng-click='rateDeck("up", deck._id)')
      i.fa.fa-thumbs-down.fa-2x.thumbs-down(ng-hide='isOwner' ng-click='rateDeck("down", deck._id)')
      .customButton(ng-click='goToDashboard()') Back to Dashboard