
.wrap
  #searchBar
    .customHeader Deck Search
    form(novalidate name='searchForm')
      input(type='text' name='query' ng-model='search.query' required)
      select(ng-model='categoryToFilter' ng-change='filterResults()')
        include ../partials/categories.jade
      button.searchButton(ng-click='search()') Search


.wrap
  #searchResults(isotope-container="isotope-container")
    .result(ng-repeat='result in results' isotope-item="isotope-item" class='{{result.category}}' ng-click='viewPublicDeck(result._id)')
      .deckName {{result.name}}
      .deckSubject {{result.category}}
      .deckNumCards Deck Size: {{result.cards.length}}
      .deckRatingUp: i.fa.fa-thumbs-up {{result.rating.up}}
      .deckRatingDown: i.fa.fa-thumbs-down {{result.rating.down}}