.row.negateMargin#card-top
  .wrap(ng-hide='isComplete')
    #progress Question {{(progress.complete + 1) + ' of ' + progress.deckSize}}
    .customButton(ng-hide='isChalMode')(data-toggle="modal" data-target="#shuffleConfirm") Shuffle