.row#card-top
  .wrap(ng-hide='isComplete')
    #progress Progress: {{(progress.complete / progress.deckSize * 100) | number:0}}%
    .customButton(data-toggle="modal" data-target="#shuffleConfirm") Shuffle