#challenges
  //Received challenges
  .challenge(ng-repeat='challenge in challenges')
    .challegerUsername {{challenge.user.username}}
    .challengeDeckName {{challenge.deck.name}}
    .challegeCategory Category: {{challenge.deck.category}}
    .challengeStatus
      .pendingApproval(ng-hide='challenge.hasAccepted') Status: Pending
      .hasAccepted(ng-show='challenge.hasAccepted') Accepted
    button.btn.btn-danger(ng-hide='currentUser._id === challenge.senderId' ng-click='acceptChallenge()') Accept
    button.btn.btn-danger(ng-hide='currentUser._id === challenge.senderId' ng-click='declineChallenge()') Decline
    button.btn.btn-danger(ng-show='challenge.hasAccepted' ng-click='declineChallenge()') Play