.row.negatePadding.negateMargin#footer
  .row.negatePadding.negateMargin
    .col-sm-4
    .col-sm-4
      .socialMedia: a(href='https://twitter.com/serdavosboling'): i.fa.fa-2x.fa-twitter
      .socialMedia: a(href='https://www.linkedin.com/pub/david-boling/74/8b3/<906></906>'): i.fa.fa-2x.fa-linkedin
      .socialMedia: a(href='https://github.com/kadowki'): i.fa.fa-2x.fa-github
      .socialMedia: a(href='http://daviddboling.wordpress.com/'): i.fa.fa-2x.fa-wordpress
    .col-sm-4
  .row.negatePadding.negateMargin
    .col-sm-4
    .col-sm-4
      #copyright Copyright 2014 &copy; - David D. Boling 
    .col-sm-4