.row.negatePadding.negateMargin#footer
  .row.negatePadding.negateMargin
    .col-sm-4
    .col-sm-4
      .socialMedia: i.fa.fa-2x.fa-twitter
      .socialMedia: i.fa.fa-2x.fa-linkedin
      .socialMedia: i.fa.fa-2x.fa-github
      .socialMedia: i.fa.fa-2x.fa-wordpress
    .col-sm-4
  .row.negatePadding.negateMargin
    .col-sm-4
    .col-sm-4
      #copyright Copyright 2014 &copy; - David D. Boling 
    .col-sm-4