.row#leaderboards
  .wrap
    .col-sm-6
      .customerHeader#winHeader Overall Wins 
      //Win Leaders
      #winLeaders
        .row(ng-repeat='winner in winLeaders')
          .col-xs-6 {{$index + 1 + '.'}} {{winner.username}}
          .col-xs-6 {{winner.wins}}
      
    .col-sm-6
      .customerHeader#scoreHeader Overall Score
      //Score Leaders
      #scoreLeaders
        .row(ng-repeat='scorer in scoreLeaders')
          .col-xs-6 {{$index + 1 + '.'}} {{scorer.username}}
          .col-xs-6 {{scorer.allTimeScore}}
